<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722182038108-f5sadp9c09olj7soqpo6cp3k5u1vqjcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722182038108-f5sadp9c09olj7soqpo6cp3k5u1vqjcn</string>
	<key>API_KEY</key>
	<string>AIzaSyDDxtmT8A-v7r1nO5cZnPttvcO591vsPr4</string>
	<key>GCM_SENDER_ID</key>
	<string>722182038108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.bossprojectung</string>
	<key>PROJECT_ID</key>
	<string>bossproject-56f68</string>
	<key>STORAGE_BUCKET</key>
	<string>bossproject-56f68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722182038108:ios:44f7b0fd2bece223c4bc99</string>
</dict>
</plist>